<style>
    @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

    .section-header {
        width: calc(100% - 20px);
        padding: 10px 10px;
        margin: 0px 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Pattern Background */
        background:
            radial-gradient(#00000022 15%, transparent 16%) 0 0,
            radial-gradient(#00000022 15%, transparent 16%) 8px 8px,
            radial-gradient(#6887c922 15%, transparent 20%) 0 1px,
            radial-gradient(#6887c922 15%, transparent 20%) 8px 9px;

        /* background-color: #6887c9; */
        background-size: 16px 16px;

        border-radius: 5px;
    }

    .section-header-title {
        color: #FFFFFFee;
        opacity: 1;
        font-size: 2.5rem;
        font-family: 'Kaushan Script', cursive;
        letter-spacing: 1px;
        text-align: center;
    }
</style>

<div class="section-header" style=" background-color: {{ bgcolor }}">

    <p class=" section-header-title">{{ title }}</p>
</div>